/*********************CONTENT HERE*******************/
.fondo-1{
    background-image: url(../images/escenario_1.jpg);
}
.fondo-2{
    background-image: url(../images/escenario_2.jpg);
}
.fondo-3{
    background-image: url(../images/escenario_3.jpg);
}

#bandas{
	position: absolute;
	width: 100%;
	height: 370px;

	left: 0px;
	top: 50%;
    top: calc(50% - (370px / 2));
    top: -moz-calc(50% - (370px / 2));
	box-sizing: border-box;
}
.banda-wrap{
	position: absolute;
	width: 100%;
	/*background-color: rgba(255,255,255,1);*/
	margin: 0px;
	padding: 0px;
	display: block;
}

.banda{
	position: absolute;
	width: 100%;
	/*width: calc(100% * 2);
	width: -moz-calc(100% * 2);*/
	height: 100%;
	
	margin: 0px;
	padding: 0px;
	display: block;
}
.banda-off{
	visibility: hidden;
}
.banda-on{
	visibility: visible;
}

#banda1,#personaje-card-p1{top: -2%;}
#banda2,#personaje-card-p2{top: 0%;}
#banda3,#personaje-card-p3{top: 0%;}
#banda4,#personaje-card-p4{top: 21%;}
#banda5,#personaje-card-p5{top: 43%;}
#banda6,#personaje-card-p6{top: 76%;}

.banda-epp{
	position: absolute;
	top: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	display: inline-block;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
/*.banda-epp::after{
	position: absolute;
	content: "";
	width: 2px;
	height: 2px;
	background-color: #000000;
	top: 50%;
	top: calc(50% - 1px);
	top: -moz-calc(50% - 1px);
	left: 0%;
}*/

.banda-epp-pos-0{
	left: 10%;
	opacity: 0;
	transition: left 0.4s linear, opacity 0.4s linear;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
}
.banda-epp-pos-1{
	left: 30%;
	opacity: 0.5;
	transition: left 0.4s linear, opacity 0.4s linear;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
}
.banda-epp-pos-2{
	left: 50%;
	opacity: 1;
	transition: left 0.4s linear, opacity 0.4s linear;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
}
.banda-epp-pos-3{
	left: 70%;
	opacity: 0.5;
	transition: left 0.4s linear, opacity 0.4s linear;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
}
.banda-epp-pos-4{
	left: 90%;
	opacity: 0;
}

.banda-epp > div{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.banda-epp-item-out{
	transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	opacity: 0;
}
.banda-epp-item-in{
	animation-name: animation-item-in;
	animation-timing-function: linear;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	-webkit-animation-name: animation-item-in;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
}

#card-cont{
	position: absolute;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

	left: 15px;
}

.card-on{
	animation-name: animacion-carta-on;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	-webkit-animation-name: animacion-carta-on;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
}
.card-off{
	top: 50px;
	opacity: 0;
}
@keyframes animacion-carta-on{
	0%{
		top: 50px;
		opacity: 0;
	}
	10%{
		top: 15px;
		opacity: 1;
	}
	90%{
		top: 15px;
		opacity: 1;
	}
	100%{
		top: 50px;
		opacity: 0;
	}
}

#card-wrap{
	position: relative;
	width: 125px;
	height: 181px;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	box-sizing: border-box;
}
#card{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 275px;
	height: 402px;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/card.png);

	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;

	transform: scale(0.45);
	-webkit-transform: scale(0.45);
	-o-transform: scale(0.45);
}

#personaje-card{
	position: relative;
    display: block;
    width: 132px;
    height: 370px;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;

    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
}
#personaje-card::after{
	content: "";
	position: absolute;
	width: 36px;
	height: 10px;
	top: 35px;
    left: 44px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/ojos.png);
	box-sizing: border-box;
}

#personaje-card > div{
	position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	left: 50%;
}
#personaje-card > div > div{
	position: absolute;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#card-flecha{
	position: relative;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;

	width: 125px;
	height: auto;
	box-sizing: border-box;
}

#card-flecha-img{
	position: relative;
	display: block;
	width: 25px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url(../images/flecha.svg);
	margin: 0px auto;

	animation-name: animacion-flecha;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: animacion-flecha;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#card-flecha-txt{
	display: block;
	width: 100%;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;

	font-family: 'FSJoey-Bold';
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	line-height: normal;

	text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}
@keyframes animacion-flecha{
	0%{
		top: 10px;
	}
	50%{
		top: -10px;
	}
	100%{
		top: 10px;
	}
}

#tag-txt{
	position: absolute;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;

	font-family: 'FSJoey-Bold';
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	line-height: normal;

	text-shadow: 0px 0px 3px rgba(0,0,0,0.8);

	transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.tag-txt-on{
	opacity: 1;
}
.tag-txt-off{
	opacity: 0;
}
/****************************************************/